@import url('https://fonts.googleapis.com/css?family=Sintony:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


/* CLASSES -----------------------------------------------------------------------------------------------------------------------*/

.carousel-item h4{
    font-size: 2.5em;    
    color: whitesmoke;
}

.limpeza{
    clear: both;  
    overflow: auto;   
}


.container-head{
    width: 100%; 
    height: 15%;
    padding: 50px;    
    text-align: center;
}

.container-pattern {    
    width: 100%;    
    padding-bottom: 25px;     
    text-align: justify;     
}

.fluid{
    padding: 3% 10%;
}

.container-banner{
    width: 100%; 
    text-align: center;
    padding: 5%;
}

.container-banner h1{
    font-size: 2em;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    width: 100%;  
}

.space{
    padding-left: 15px;
}

.navbar-color{
    background-color:  white;
    color: black;    
}

.nav-link{
    color: black;
}

.navbar-brand{
    color: black; 
}

.nav-link:hover{
    color: black;
    background-color: #FFDA2D;    
    padding-left: 3px;
}


.navbar-toggler{
    background-image: url('../IMG/ICON/menu.png');
    width: 32px;
    height: 32px;      
}

.nav-item{
    padding-left: 10px;
    padding-right: 10px;
}

.w-100{
    width: 100%;
    height: 100%;
}

.center{
    text-align: center;
}

.float-left{
    text-align: left;  
    padding: 5px; 
}

.float-right{
    text-align: right;  
    padding: 5px;   
}

.show {
    display: block;
}

.txt-destaque{
	text-align: justify; 
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;	    
    color: black;
}

.small-icon{
    margin: 15px;
    width: 90px;
}

.w80{
    margin: 0 auto;
    width: 80%;    
}

.location{
    text-transform: uppercase;
    font-weight: bold;
}

.legend_caroussel{
    font-size: 3em;
    text-decoration: none;
    color: white;
}

.legend_caroussel:hover{
    color: black;
    text-decoration: none;
}

.none_decoration{
    color: black;
    text-decoration: none;
}

.none_decoration:hover{
    text-decoration: none;
}


.banner{
    width: 100%;
    margin: 0 auto;
    padding: 10%;
    color: black;
    background-image: url('../IMG/mapa2.jpeg');
}

.logo_cidade{    
    margin: 0 auto;    
    text-align: center;    
}

.logo_cidade h2{
    font-size: 3em;
}


/* ELEMENTO HTML -----------------------------------------------------------------------------------------------------------------------*/
body{
    line-height: 1.9em;   
    font-family: 'Sintony', sans-serif;
}


footer{    
    font-size: 0.8em;
    padding: 25px 20%; 
    background-color: #F2F2F2;      
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

footer img{
    margin-right: 10px;
}

footer a{
    color: black;
}

h1, h2, h3, h4, h5{    
    margin-top: 5px;
    margin-bottom: 10px;
}

p, a, .navbar-brand{
    font-family: 'Poppins', sans-serif;    
}

a{
    text-decoration: none;
}

section{
    margin-bottom: 50px;
    margin-top: 25px;
    padding: 0 20%;     
}



/* IMAGEM -----------------------------------------------------------------------------------------------------------------------*/

.img-center{   
    margin: 0 auto;
    display: block;
    position: relative;
}

.Logo{
    width: 130px;
}

.logo-center{
    margin: 0 auto;
    display: block;
    position: relative;
    max-width: 100%;
}


.img-fluid{
    margin-bottom: 5px;
    max-width: 100%;
}

section .img-fluid{
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
}

.img-icon{
    width: 4.5em; 
}

.map-cidade{
    max-width: 100%;  
    margin: 5px;
}


/*ELEMENTO ÚNICO*/

#bg-map{
    background-image: url('../IMG/wallpaper.jpg');    
}

#aviso-IMG-TXT{
    color: grey;
}

#hospedagem{
    background-color: white;
    width: 400px;
    padding: 80px 50px;
    height: 450px;
    margin: 5% 60% 5% 20%;
}

#hospedagem p {
    text-align: left;
}

/* RESPONSIVIDADE -----------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1000px) {
    .txt-destaque{             
        padding-left: 15%;
        padding-right: 15%;  
    } 

    section{     
        padding: 0 10%; 
    } 

    footer{           
        padding: 25px 10%;        
    }
}

@media screen and (max-width: 680px) {
    .txt-destaque{             
        padding-left: 5%;
        padding-right: 5%;  
    }   

    section{     
        padding: 0 5%; 
    }    
    
    footer{           
        padding: 25px 5%;        
    }

    .img-center{
        width: 35%;
        height: 35%;        
    } 

    .logo-center{
        width: 80%;        
    }

    .banner{        
        padding: 10%;
    }
       
    .float-left{
        text-align: justify;  
    }    
    .float-right{
        text-align: justify;  
    }

    #hospedagem{
        width: 80%;
        padding: 6% 3% 2% 3%;
        height: 350px;    
        margin: 0 auto;
        margin-top: 75px;
        text-align: center;
    }   
    
}

