.box-cidade {
    width: 500px;
    height: 500px;
    padding: 25px;
    font-size: 3.5em;
    text-align: center;
    line-height: 400px;
    color: black;
}

.row a{
    text-decoration: none;
    margin: 5px;    
}        

.row a:hover  {
    text-decoration: none;
    color: black;
}


#cdd-01 {
    background-color: #B0E0E6;
}

#cdd-02 {
    background-color: #FFE4E1; 
}

#cdd-03 {
    background-color: #EEE8AA; 
}

#cdd-04 {
    background-color: #FFE4B5;
}

#cdd-05 {
    background-color: #FFBCBA; 
}

#cdd-06 {
    background-color: #FAFAD2; 
}

#cdd-07 {
    background-color: #FFF5EE; 
}

#cdd-08 {
    background-color: #D8BFD8;
}

#cdd-09 {
    background-color: #DCDCDC; 
}

@media screen and (max-width: 600px){
    .box-cidade{
        width: 100%;
        margin:0;
        padding: 0;
    }
    .row{
        padding: 0;
        margin: 0;
    }
    .row a{        
        margin: 5px;            
    }        
    
}